#contenido
{
    top:50px;
    left:50px;
    position:absolute;
    z-index:100;
    color: #00FA9A;
    width: 60%;
    height: 60%;
    border: solid#ffffff 2px;
}

#cesium{
    position:relative;
}